@pagerPrefix: wei-pagination;
@margin: 15px;

.@{pagerPrefix} {
    display: flex;
    align-items: center;
    &-disabled{
        cursor: not-allowed;
        color: #888;
    }
    &-total-container {
        margin-right: @margin;
    }
    &-paper-container {
        display: flex;
        align-items: center;
    }
    &-paper-item {
        display: inline-block;
        min-width: 28px;
        height: 28px;
        margin-right: 8px;
        font-family: Arial;
        line-height: 26px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        outline: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #222;
        &.current {
            border: 1px solid red;
            color: red;
        }
    }
    &-jump-container {
        margin-right: @margin;
    }
    &-size-container {
        margin-right: @margin;
    }
    &-paper-next,
    &-paper-prev {
        cursor: pointer;
        margin-right: @margin;
        &.@{pagerPrefix}-disabled{
            cursor: not-allowed;
        }
    }
    &.simple {
        .@{pagerPrefix}-paper-number{
            margin-right: @margin;
        }
    }

    &-input{
        border-radius: 2px;
        outline: none;
        text-align: center;
    }

    &-slash{
        margin-right: @margin;
    }
}
