{
    "plugins": [
        [
            "import",
            {
                "libraryName": "wei",
                "style": true,
                "libraryDirectory": "dist"
            }
        ]
    ]
}