{
    "plugins": [
        [
            "import",
            {
                "libraryName": "wei",
                "style": true,
                "libraryDirectory": "lib"
            }
        ],
        "@babel/plugin-syntax-dynamic-import",
        [
            "@babel/plugin-transform-runtime"
        ]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11"
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}