@selectPrefix: wei-select;
.@{selectPrefix} {
    &-option {
        margin: 5px;
        cursor: pointer;
        color: #000000;
        &.selected {
            color: red;
        }
        &:hover {
            color: red;
        }
    }
    &-dropDown {
        padding: 5px;
        min-width: 150px;
        position: absolute;
        color: #000000;
        top: -9999px;
        left: -9999px;
        background-color: #fff;
        overflow: hidden;
        font-size: 14px;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
            0 9px 28px 8px #0000000d;
        &.hidden {
            display: none;
        }
    }
}
.portals-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
