@selectPrefix: wei-select;
.@{selectPrefix} {
    &-option {
        cursor: pointer;
        &.selected {
            color: red;
        }
        &:hover {
            color: red;
        }
    }
}
